* {
   /* Override default margins*/
   --pagedjs-margin-right: 0.2in;
   --pagedjs-margin-left: 0.2in;
   --pagedjs-margin-top: 0.4in;
   --pagedjs-margin-bottom: 0.2in;
 }
 
 
:root {
  --sidebar-width: 12rem !important; /* Shrink sidebar width  */
  --sidebar-background-color: #f7fbff; /* Make sidebar blue */
  --sidebar-horizontal-padding: 0.01in; /* Reduce sidebar padding */
}
 
.aside{
  height: 100%;
  width: var(--sidebar-width) !important;
  padding: 0in var(--sidebar-horizontal-padding);
}
 
.decorator::after{
  background-color: #a2e2e2; /* change color timeline dots */
 
}
 
.main-block.concise .details div:not(.concise){
  /* use padding to work around the fact that margin doesn't affect floated
     neighboring elements */
  padding: 0 0 0 0;
}
 
 
/* Main text is monserrat*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  color: #444;
}

/* Give headers playfair font */
h1,
h2,
h3 {
  font-family: "Big Caslon", serif;
  color: #000;
}


[data-id="disclaimer"] p {
  margin-block-start: 0.15em;
  margin-block-end: 0.15em;
}

#title h1 {
  text-transform: unset;
}

.skill-bar {
  color: white;
  padding: 0.1rem 0.25rem;
  margin-top: 3px;
  position: relative;
  width: 100%;
}

#box_skill {
	background:#a2e2e2;
	border-radius: 25px;
	padding: 7px;
	display: inline-block;
	width: fit-content;
	margin: 3px;
}